@model Citlali.Models.NavModel;

<nav>
  <ul>
    <div class="nav-group">
      <a href="#">
        <li>
          @* Navigation Hamburger *@
          @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Navigation>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
        </li>
      </a>

      <a href="../Home/Index">
        <li class="logo">
          @* Logo *@
          <span>
            @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.DocumentEdit>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
          </span>
          <p>Citlali</p>
        </li>
      </a>
    </div>

    <div class="nav-group">
      <a href="../Event/Create">
        <li class="create-event">
          @* Create Event *@
          <span>
            @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.AddCircle>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
          </span>
          <p>
            Create Event
          </p>
        </li>
      </a>

      <a href="#">
        <li>
          @* History *@
          @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.History>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
        </li>
      </a>

      <a href="#">
        @* Notification *@
        <li>

          @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Alert>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
        </li>
      </a>

      <a href="#">
        @* Follow Heart *@
        <li>
          @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Heart>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
        </li>
      </a>

      <a href="#">
        @* Profile *@
        <li>
          <div class="profile-placeholder">
            <img src=@Model.profileImageUrl alt="">
          </div>
        </li>
      </a>

      <div class="sign-out-btn">
        <form asp-controller="Auth" asp-action="SignOut" method="post">
          <button type="submit">
            <span class="sign-out-icon">
              @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.ConferenceRoom>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
            </span>
            <p class="sign-out-text">Sign Out</p>
          </button>
        </form>
      </div>
    </div>
  </ul>
</nav>