@model Citlali.Models.NavModel;

<nav>
  <ul>
    <div class="nav-group">
      <a href="#">
        <li>
          @* Navigation Hamburger *@
          @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Navigation>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
        </li>
      </a>

      <a href="../Home/Index">
        <li class="logo">
          @* Logo *@
          <span>
            @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.DocumentEdit>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
          </span>
          <p>Citlali</p>
        </li>
      </a>
    </div>

    <div class="nav-group">
      <a href="../Event/Create">
        <li class="create-event">
          @* Create Event *@
          <span>
            @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.AddCircle>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
          </span>
          <span class="create-event-text">Create Event</span>
        </li>
      </a>

      <a href="#">
        <li class="create-event">
          @* History *@
          <span>
            @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.History>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
          </span>
          <p class="create-event-text">History</p>
        </li>
      </a>

      <a href="#">
        @* Notification *@
        <li class="create-event">
          <span>
            @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Alert>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
          </span>
          <p class="create-event-text">Notification</p>
        </li>
      </a>

      <a href="#">
        @* Follow Heart *@
        <li class="create-event">
          <span>
            @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.Heart>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
          </span>
          <p class="create-event-text">Followed</p>
        </li>
      </a>

      <div href="#" class="profile-container">
        @* Profile *@
        <li>
          <div class="profile-placeholder">
            <img src=@Model.profileImageUrl alt="">
          </div>

          @* Dropdown *@
          <div class="profile-dropdown">
            <a href="#" class="dropdown-item">User Profile</a>
            <form asp-controller="Auth" asp-action="SignOut" method="post">
              <button type="submit" class="dropdown-item">Sign Out</button>
            </form>
          </div>
        </li>
      </div>

      @* <div class="sign-out-btn">
        <form asp-controller="Auth" asp-action="SignOut" method="post">
          <button type="submit">
            <span class="sign-out-icon">
              @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size24.ConferenceRoom>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral }))
            </span>
            <p class="sign-out-text">Sign Out</p>
          </button>
        </form>
      </div> *@
    </div>
  </ul>
</nav>