@model Citlali.Models.FollowViewModel
@using Microsoft.AspNetCore.Http
@using System
@inject Supabase.Client SupabaseClient

@{
    var isCurrentUserProfile = false;
    var currentUser = SupabaseClient.Auth.CurrentUser;
    
    if (currentUser != null && Model.User != null)
    {
        isCurrentUserProfile = currentUser.Id == Model.User.UserId.ToString();
    }
}

<head>
    <link rel="stylesheet" href="~/css/Follow.css" />
    <script src="~/js/Follow.js"></script>
</head>

<div class="follow-page">
    <div class="follow-header">
        <h1>Following</h1>
        <button class="close-btn" onclick="closeFollowPopup('@(Model.User?.Username ?? "unknown")')">&times;</button>
    </div>
    
    <div class="search-box">
        <input type="text" placeholder="Search" id="searchInput" onkeyup="filterUsersandTags()" />
    </div>

    <div class="follow-list" id="followList">
        <h2>Users</h2>
        @foreach (var user in Model.Users)
        {
            <div class="follow-item">
                <div class="follow-info">
                    <img src="@user.ProfileImageUrl" alt="@user.DisplayName" />
                    <div>
                        <h2>@user.Username</h2>
                        <p>@user.DisplayName </p>
                    </div>
                </div>
                @if (isCurrentUserProfile)
                {
                    <button class="follow-btn" onclick="toggleFollow('@user.Username', false)">Unfollow</button>
                }
                else
                {
                    <a href="/user/@user.Username" class="follow-btn view-profile-btn">View Profile</a>
                }
            </div>
        }
        <h2>Tags</h2>
        @foreach (var tag in Model.Tags)
        {
            <div class="follow-item">
                <div>
                    <h2>@tag.TagEmoji @tag.TagName</h2>
                </div>
                @if (isCurrentUserProfile)
                {
                    <button class="follow-btn" onclick="toggleFollowTag('@tag.TagId', false)">Unfollow</button>
                }
                else
                {
                    <a href="/events?tag=@tag.TagId" class="follow-btn view-profile-btn">View Events</a>
                }
            </div>
        }
    </div>
</div>