@model Citlali.Models.EventDetailCardData;

<div class="event-detail detail-column space-y-4">
    <div class="justify-between">
        <h1 class="text-level-1">@Model.EventTitle</h1>
        <span class="text-level-1 text-align-right align-center space-x-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-users-round"><path d="M18 21a8 8 0 0 0-16 0"/><circle cx="10" cy="8" r="5"/><path d="M22 20c0-3.37-2-6.5-4-8a5 5 0 0 0-.45-8.3"/></svg>
            <span>@Model.CurrentParticipant/@Model.MaxParticipant</span>
        </span>
    </div>
    <div class="justify-between">
        <span>Posted by @Model.CreatorDisplayName</span>
        <span class="text-align-right">@Model.CreatedAt.ToString("t") • @Model.CreatedAt.ToString("d")</span>
    </div>
    <div class="tags-container">
        <div class="tag">
            <span>@Model.EventCategoryTag.EventCategoryTagEmoji</span>
            <span>@Model.EventCategoryTag.EventCategoryTagName</span>
        </div>
    </div>
    <p>@Model.EventDescription</p>
</div>