@model Citlali.Models.EventDetailCardData;

<div class="event-detail detail-column">
    <div class="info-line">
        <h1 class="title">@Model.EventTitle</h1>
        <span class="participants">
            <span>
                @(await Html.RenderComponentAsync<FluentIcon<Icons.Regular.Size32.PeopleTeam>>(RenderMode.ServerPrerendered, new { Color = Color.Neutral}))
            </span>
            <span >@Model.CurrentParticipant/@Model.MaxParticipant</span>
        </span>
    </div>
    <div class="info-line">
        <span class="creator">
            <a href="/user/@Model.CreatorUsername">
                <span>
                    <img class="pfp" src=@Model.CreatorProfileImageUrl alt="Creator Profile Picture"/>
                </span>
            </a>
            <a href="/user/@Model.CreatorUsername">
                <span>@Model.CreatorDisplayName</span>
            </a>
        </span>
        <span class="text-align-right">@Model.CreatedAt.ToString("t") • @Model.CreatedAt.ToString("d")</span>
    </div>
    <div class="tag">
        <span>@Model.EventCategoryTag.EventCategoryTagEmoji</span>
        <span>@Model.EventCategoryTag.EventCategoryTagName</span>
    </div>
    <p class="description">@Model.EventDescription</p>
</div>