@model Citlali.Models.CreateEventViewModel


<style>
    input{
        border: 1px solid red;
    }
</style>

@{ 
    //make list of stings questions 
    List<string> questions = new List<string>();
    questions.Add("What is your favorite color?");
    questions.Add("What is your favorite food?");
    questions.Add("What is your favorite animal?");
    questions.Add("What is your favorite movie?");
}


<form asp-action="createEvent" method="post" enctype="multipart/form-data">
    <div class="form-container">
        <div class="content">
            <div class="form-content">
                <div class="form-data">
                    <div class="form-group">
                        <label for="EventTitle">Event Title</label>
                        <input asp-for="EventTitle" class="form-control" />
                        <span asp-validation-for="EventTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group
                    ">
                        <label for="EventDescription">Event Description</label>
                        <input asp-for="EventDescription" class="form-control" />
                        <span asp-validation-for="EventDescription" class="text-danger"></span>
                    </div>
                    @* <div class="form-group
                    ">
                        <label for="EventCategoryTagId">Event Category</label>
                        <input asp-for="EventCategoryTagId" class="form-control" value="@testTagId"/>
                        <span asp-validation-for="EventCategoryTagId" class="text-danger"></span>
                    </div> *@

                    <div class="form-group">
                        <select name="EventCategoryTagId" id="EventCategoryTagId" asp-for="EventCategoryTagId" class="form-control">
                            <option value="">-- Select Tag --</option>
                            @foreach (var tag in Model.Tags)
                            {
                                <option value="@tag.TagId">@tag.TagName @tag.TagEmoji</option>
                            }
                        </select>
                        <span asp-validation-for="EventCategoryTagId" class="text-danger"></span>
                    </div>

                     
                    <div class="form-group
                    ">
                        <label for="MaxParticipant">Max Participant</label>
                        <input asp-for="MaxParticipant" class="form-control" />
                        <span asp-validation-for="MaxParticipant" class="text-danger"></span>
                    </div>
                    <div class="form-group
                    ">
                        <label for="EventDate">Event Date</label>
                        <input asp-for="EventDate" class="form-control" />
                        <span asp-validation-for="EventDate" class="text-danger"></span>
                    </div>
                    <div class="form-group
                    ">
                        <label for="PostExpiryDate">PostExpiryDate</label>
                        <input asp-for="PostExpiryDate" class="form-control" />
                        <span asp-validation-for="PostExpiryDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <select name="EventLocationTagId" id="EventLocationTagId" asp-for="EventLocationTagId" class="form-control">
                            <option value="">-- Select Location --</option>
                            @foreach (var location in Model.LocationTags)
                            {
                                <option value="@location.EventLocationTagId">@location.EventLocationTagName</option>
                            }
                        </select>
                        <span asp-validation-for="EventLocationTagId" class="text-danger"></span>

                    </div>

                    <div class="form-group
                    ">

                    @* cost *@
                    <div class="form-group">
                        <label for="Cost">Cost</label>
                        <input asp-for="Cost" class="form-control" />
                        <span asp-validation-for="Cost" class="text-danger"></span>
                    </div>

                    @* question *@
                    @* <div class="form-group">
                        <span> Question : </span>
                        <input asp-for="Questions" class="form-control" value="" />
                        <span asp-validation-for="Questions" class="text-danger"></span>
                    </div> *@

                    <button type="submit" style="border:5px solid red">Create</button>

                    </div>
                </div>
            </div> 
        </div>
    </div>






            

</form>