@model Citlali.Models.EventDetail;

@{
    var responseVM = new EventResponseViewModel
            {
                Responses = Model.EventQuestions.Select(q => new QuestionResponse
                {
                    EventQuestionId = q.EventQuestionId
                }).ToList()
            };
}

<div class="center-wrapper">
    <div class="detail-main-container">
        <div class="event-detail detail-column space-y-4">
            <div class="space-between">
                <h1>@Model.Event.EventTitle</h1>
                <p>@Model.Event.MaxParticipant/@Model.Event.MaxParticipant</p>
            </div>
            <div>
                <p>Posted by @Model.Event.CreatorUserId</p>
                <p>@Model.Event.CreatedAt</p>
            </div>
            <p>@Model.Event.EventDescription</p>
        </div>
        <div class="pad"></div>
        <div class="event-form detail-column">
            <form class="form-form" asp-action="onboarding" style="width: 100%;" method="post"
                enctype="multipart/form-data">
                <div class="form-data">
                    @for (var i = 0; i < Model.EventQuestions.Length; i++)
                    {
                        <div class="form-group">
                            <label>@Model.EventQuestions[i].Question</label>
                            <input class="form-control" />
                            <span asp-validation-for="@responseVM.Responses[i].Answer" class="text-danger"></span>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>