@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@model Citlali.Models.TagEventExploreViewModel;

@section head {
    <script src="~/js/Tag.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/Tag.css" asp-append-version="true" />
}

@{
    string ExploreTagName = Model.TagName;
    string ExploreTagEmoji = Model.TagEmoji;

    ViewData["Title"] = "Explore " + ExploreTagName;
}

<div class="center-wrapper">
    <div class="container">
        <header>
            <div class="title">
                <h1>Explore @ExploreTagName @ExploreTagEmoji
                    <button id="followButton" class="action-button" data-tag-id="@Model.TagId" onclick="toggleFollowTag('@Model.TagId', @(Model.IsFollowing ? "false" : "true"))">
                        @(Model.IsFollowing ? "Unfollow" : "Follow")
                    </button>
                </h1>
                <p>Cute webboard which brings people together~ Let's explore events and find what suits you the best!</p>
            </div>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    @if (tag.TagId == Model.TagId)
                    {
                        <a href="/event/explore">
                            <span class="tag explore-tag">
                                <span>@tag.TagEmoji</span>
                                <span>@tag.TagName</span>
                            </span>
                        </a>
                    }
                    else
                    {
                        <a href="/event/tag/@tag.TagId">
                            <span class="tag">
                                <span>@tag.TagEmoji</span>
                                <span>@tag.TagName</span>
                            </span>
                        </a>
                    }
                }
            </div>
        </header>
        <div class="event-list">
            @for (var i = 0; i < Model.EventBriefCardDatas.Length; i++)
            {
                <div>
                    <partial name="_EventBriefCard" model=@Model.EventBriefCardDatas[i] />
                </div>
            }
        </div>
    </div>
    <div class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <a href="@Url.Action("Tag", new { page = Model.CurrentPage - 1 })">Previous</a>
        }

        @for (var i = 1; i <= Model.TotalPage; i++)
        {
            <a href="@Url.Action("Tag", new { page = i })" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
        }

        @if (Model.CurrentPage < Model.TotalPage)
        {
            <a href="@Url.Action("Tag", new { page = Model.CurrentPage + 1 })">Next</a>
        }
    </div>

    @if (Model.EventBriefCardDatas.Length == 0)
    {
        <div class="event-not-found">
            <h1>Event not found</h1>
            <p>Oops! No events are available for this tag right now. Please check back later!</p>
        </div>
    }
</div>

<!-- Include CSRF token -->
<input type="hidden" name="__RequestVerificationToken" value="@Antiforgery.GetAndStoreTokens(Context).RequestToken" />